<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block titulo %}my app {% endblock titulo %}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static 'bower_components/Ionicons/css/ionicons.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">


<!-- Select2 -->
  <link rel="stylesheet" href="{% static 'bower_components/select2/dist/css/select2.min.css' %}">
 <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">

<link href="{% static 'plugins/toastr/toastr.min.css' %}?v=1" rel="stylesheet" />


<link href="{% static 'custom/css/mis_estilos.css' %}" rel="stylesheet">

{{form.media.css}}
    {% block css %}
    {% endblock %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="{% url 'home:inicio' %}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Admin</b>LTE</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">



          <!-- User Account: style can be found in dropdown.less -->
            {% if user.is_authenticated %}
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {% if user.foto != "" and user.foto != None and user.foto != "media/profile.png" %}
                            <img  class="user-image" src="{{ MEDIA_URL }}{{ user.foto }}" alt="Imagen de {{ user.username }}"/>
                        {% else %}
                            <img class="user-image" src="{% static 'img/profile.png' %}" alt="Imagen de {{ user.username }}"/>
                        {% endif %}
              <span class="hidden-xs">{{ user.get_full_name | capfirst}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                {% if user.foto != "" and user.foto != None and user.foto != "media/profile.png" %}
                            <img class="img-circle" src="{{ MEDIA_URL }}{{ user.foto }}" alt="Imagen de {{ user.username }}"/>
                        {% else %}
                            <img class="img-circle" src="{% static 'img/profile.png' %}" alt="Imagen de {{ user.username }}"/>
                        {% endif %}

                <p>
                  {{ user.get_full_name | capfirst}} <small>{{ user.get_cargo_display }}</small>
                  <small>Miembro desde {{ user.date_joined.date }} </small>
                </p>
              </li>

              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{% url 'usuarios:password_change' %}" class="btn btn-default btn-flat">Cambiar contraseña</a>
                </div>
                <div class="pull-right">
                  <a href="{% url 'usuarios:logout' %}" class="btn btn-default btn-flat">Cerrar sesión</a>
                </div>
              </li>
            </ul>
          </li>
            {% endif %}

        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->
{% if user.is_authenticated %}
{% include 'menus/base_menu.html' %}
{% endif %}

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
          {% block titulo_pagina %}
            Aplicación para gestionar recursos
            {% endblock titulo_pagina %}
      </h1>
      <ol class="breadcrumb">
          {% block miga_pan %}

          {% endblock miga_pan %}
      {% block regreso %}
            <li><a class="btn btn-sm btn-primary" href="{% url 'home:inicio' %}">Regresar</a></li>
      {% endblock regreso %}

      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
{% block contenido_pagina %}
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Title</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          Start creating your amazing application!
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          Footer
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->
{% endblock %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Plantilla</b> AdminLTE
    </div>
    <strong>Copyright &copy; <span id="fecha"></span> <a href="#">Daniel Henao</a>.</strong> Todos los
      derechos reservados.
  </footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>


<!-- SlimScroll -->
<script src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>
<!-- AdminLTE App -->
<!-- Select2 -->
<script src="{% static 'bower_components/select2/dist/js/select2.full.min.js' %}"></script>

<!-- DataTables -->
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>


<!-- toastr -->
<script src="{% static 'plugins/toastr/toastr.min.js' %}?v=1"></script>

<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<!-- Retirar si no se va a usar -->
<script src="{% static 'dist/js/demo.js' %}"></script>

<script src="{% static 'custom/js/tabla-datos.js' %}"></script>


{{form.media.js}}

<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree()
  })
</script>
<script>

        //obtiene el año actual para mostrar en el footer de la pagina
        var ano =String ((new Date).getFullYear());
        var ano_inicio="2019";
        $(document).ready(function() {
            if (ano_inicio == ano){
                $("#fecha").text( ano_inicio );
            }
            else{
                $("#fecha").text( ano_inicio+' - '+ano );
            }

        });


    </script>
<script>
    {% for msg in messages %}
            $(document).ready(function(){
                setTimeout(function() {
                    toastr.options = {
                        "closeButton": true,
                        "progressBar": true,
                        "showEasing": "swing"
                    };
                    toastr["{{ msg.tags }}"]("{{msg}}")
                },1000);
            });
        {% endfor %}
</script>


{% block js %}
{% endblock %}
</body>
</html>
