{% load staticfiles %}
<!-- Left side column. contains the sidebar -->
{% if user.is_authenticated %}
    {% url 'usuarios:dashboard' as dashboard %}
{% else %}
    {% url 'home:inicio' as dashboard %}
{% endif %}
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
            {% if user.foto != "" and user.foto != None and user.foto != "media/profile.png" %}
          <img src="{{ MEDIA_URL }}{{ user.foto }}" class="img-circle" alt="User Image">
            {% else %}
                <img src="{% static 'img/profile.png' %}" class="img-circle" alt="User Image">
            {% endif %}
        </div>
        <div class="pull-left info">
          <p>{{ user.get_full_name | capfirst}}</p>
          <small>{{ user.get_cargo_display }}</small>
        </div>
      </div>

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Navegacion principal</li>
          <li>
          <a href="{{dashboard}}">
            <i class="fa fa-dashboard"></i> <span>Danshboard</span>
          </a>
        </li>
        {% if user.cargo == 'Administrador' %}
            {% include 'menus/administrador/usuarios.html' %}
            {% include 'menus/administrador/personal_menu.html' %}
            {% include 'menus/recursos_menu.html' %}

          {% endif %}

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>