{% url 'recursos:registrar_categoria' as categoria_registro %}
{% url 'recursos:registrar_marca' as marca_registro %}
{% url 'recursos:registrar_recurso' as recurso_registro %}
{% url 'recursos:asignar_varios_recursos' as asignar_recurso %}
{% url 'recursos:trasladar_recursos' as trasladar_recursos %}

<li class="treeview {% if 'recursos' in request.path   %}active{% endif %}">
          <a href="#">
            <i class="fa fa-cubes"></i> <span>Recursos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li {% if categoria_registro in request.path %} class="active" {% endif %} >
        	<a href="{{ categoria_registro }}"><i class="fa fa-circle-o"></i> Gestionar categorías</a>
            </li>
          <li {% if marca_registro in request.path %} class="active" {% endif %} >
        	<a href="{{ marca_registro }}"><i class="fa fa-circle-o"></i> Gestionar marcas</a>
            </li>
          <li {% if recurso_registro in request.path %} class="active" {% endif %} >
        	<a href="{{ recurso_registro }}"><i class="fa fa-circle-o"></i> Gestionar recursos </a>
            </li>
          <li {% if asignar_recurso in request.path %} class="active" {% endif %} >
        	<a href="{{ asignar_recurso }}"><i class="fa fa-circle-o"></i> Asignar recursos </a>
            </li>
          <li {% if trasladar_recursos in request.path %} class="active" {% endif %} >
        	<a href="{{ trasladar_recursos }}"><i class="fa fa-circle-o"></i> Trasladar recursos </a>
            </li>

          </ul>
        </li>