{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block titulo %}
    Listar personal
{% endblock titulo %}
{% block css %}
{% endblock %}
{% block titulo_pagina %}
    Listar personal
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li class="breadcrumb-item active">Inicio</li>
{% endblock miga_pan %}



{% block contenido_pagina %}

    <div class="row">
        <div class="col-lg-12 ">
            <!-- Default box -->
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Lista del personal</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped dataTable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Apellio</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for personal in lista_personal %}
                            <tr>
                                <td>{{ personal.identificacion }}</td>
                                <td>{{ personal.apellidos }}</td>
                                <td>{{ personal.nombre }}</td>
                                <td>{{ personal.email }}</td>
                                <td>
                                    <a class="btn btn-warning" href="{% url 'personal:editar_personal' personal.pk %}">Editar</a>
                                    <a class="btn btn-primary" href="{% url 'personal:ver_recursos_personal' personal.pk %}">Ver recursos</a>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
    </div>



{% endblock %}
{% block js %}

{% endblock %}
    
