{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block titulo %}
    listar de recursos {{ personal }}
{% endblock titulo %}
{% block css %}
{% endblock %}
{% block titulo_pagina %}
    listar de recursos {{ personal }}
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li class="breadcrumb-item active">Inicio</li>
{% endblock miga_pan %}
{% block regreso %}
    <li><a class="btn btn-sm btn-primary" href="{% url 'usuarios:dashboard' %}">Regresar</a></li>
{% endblock regreso %}



{% block contenido_pagina %}

    <div class="row">
        <div class="col-lg-12 ">
            <!-- Default box -->
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Lista del recursos</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped dataTable">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Marca</th>
                            <th>Categoría</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for recurso in personal.obtener_recursos_asignados %}
                            <tr>
                                <td>{{ recurso }}</td>
                                <td>{{ recurso.descripcion }}</td>
                                <td>{{ recurso.marca }}</td>
                                <td>{{ recurso.categoria }}</td>
                                <td>
                                    <a class="btn btn-info" href="{% url 'recursos:detalle_recurso' recurso.pk %}">Detalles</a>
                                    <a data-toggle="modal" data-target="#modal-votar" href="#"
                                       data-url="{% url 'recursos:retirar_recurso' recurso.pk %}" data-text="{{ recurso.nombre }}"
                                       class="retiro btn btn-warning">Retirar</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
    </div>
    <div class="modal fade" id="modal-votar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Retirar recurso</h4>
                </div>
                <div class="modal-body">
                    <p>Esta seguro que desea retira el recurso <label class="Text-recurso"></label> </p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <a id="confirmar-retiro" href="" class="btn btn-danger">Retirar</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



{% endblock %}
{% block js %}
    <script>
        $(".retiro").on('click',function(e){
            var url = $(this).attr('data-url');
            var texto = $(this).data('text');
            $("#confirmar-retiro").attr('href',url);
            $(".Text-recurso").text(texto);
        });
    </script>
{% endblock %}
    
