{% url 'personal:registrar_personal' as registro_personal %}
{% url 'personal:lista_personal' as lista_personal %}

<li class="treeview {% if registro_personal in request.path or lista_personal in request.path  %}active{% endif %}">
          <a href="#">
            <i class="fa fa-user"></i> <span>Personal</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li {% if registro_personal in request.path %} class="active" {% endif %} >
        	<a href="{{ registro_personal }}"><i class="fa fa-circle-o"></i> Registrar personal</a>
            </li>
            <li {% if lista_personal in request.path %} class="active" {% endif %}>
                <a href="{{ lista_personal }}"><i class="fa fa-circle-o"></i> Listar personal</a>
            </li>
          </ul>
        </li>