{% url 'usuarios:registrar_usuario' as usuario_registro %}
{% url 'usuarios:lista_usuarios' as user_lista %}

<li class="treeview {% if usuario_registro in request.path or user_lista in request.path  %}active{% endif %}">
          <a href="#">
            <i class="fa fa-users"></i> <span>Usuarios</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li {% if usuario_registro in request.path %} class="active" {% endif %} >
        	<a href="{{ usuario_registro }}"><i class="fa fa-circle-o"></i> Registrar usuario</a>
            </li>
            <li {% if user_lista in request.path %} class="active" {% endif %}>
                <a href="{{ user_lista }}"><i class="fa fa-circle-o"></i> Listar usuarios</a>
            </li>
          </ul>
        </li>