{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block titulo %}
    Dashboard admin
{% endblock titulo %}
{% block css %}
{% endblock %}
{% block titulo_pagina %}
    Dashboard admin
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li class="breadcrumb-item active">Inicio</li>
{% endblock miga_pan %}

{% block contenido_pagina %}

    <div class="row">
        <div class="col-lg-6 ">
            <!-- Default box -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Lista de personal</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped dataTable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>

                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for personal in lista_personal %}
                            <tr>
                                <td>{{ personal.identificacion }}</td>
                                <td>{{ personal.apellidos }} {{ personal.nombre }}</td>
                                <td>
                                    <a class="btn btn-warning" href="{% url 'personal:editar_personal' personal.pk %}">Editar</a>
                                    <a class="btn btn-primary" href="{% url 'personal:ver_recursos_personal' personal.pk %}">Ver recursos</a>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
        <div class="col-lg-6 ">
            <!-- Default box -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Recursos no asignados</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped dataTable">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for recurso in lista_recursos %}
                            <tr>
                                <td>{{ recurso }}</td>
                                <td>{{ recurso.descripcion }}</td>
                                <td>
                                    <a class="btn btn-info" href="{% url 'recursos:detalle_recurso' recurso.pk %}">Detalles</a>
                                    <a class="btn btn-warning" href="{% url 'recursos:editar_recurso' recurso.pk %}">Editar</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>

    </div>



{% endblock %}
{% block js %}

{% endblock %}
    
