{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block titulo %}
    listar usuarios
{% endblock titulo %}
{% block css %}
{% endblock %}
{% block titulo_pagina %}
    listar usuarios
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li class="breadcrumb-item active">Inicio</li>
{% endblock miga_pan %}



{% block contenido_pagina %}

    <div class="row">
        <div class="col-lg-12 ">
            <!-- Default box -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Lista de usuarios</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped dataTable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Email</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for usuario in lista_usuarios %}
                            <tr>
                                <td>{{ usuario.pk }}</td>
                                <td>{{ usuario.username }}</td>
                                <td>{{ usuario.get_full_name }}</td>
                                <td>
                                    {% if usuario.is_active %}
                                        <span class="label label-success">Activo</span>
                                    {% else %}
                                        <span class="label label-danger">Inactivo</span>
                                    {% endif %}</td>
                                <td>{{ usuario.email }}</td>
                                <td>
                                    <a class="btn btn-warning" href="{% url 'usuarios:editar_usuario' usuario.pk %}">Editar</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
    </div>



{% endblock %}
{% block js %}

{% endblock %}
    
