{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}
{% block css %}
{% endblock %}
{% block titulo_pagina %}
    {{ titulo }}
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li class="breadcrumb-item active">Inicio</li>
{% endblock miga_pan %}
{% block regreso %}
    <li><a class="btn btn-sm btn-primary" href="{% url 'usuarios:lista_usuarios' %}">Regresar</a></li>
{% endblock regreso %}

{% block contenido_pagina %}

    <div class="row">
        <div class="col-lg-6 ">
            <!-- Default box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ titulo }}</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            {% bootstrap_form form %}
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                        <a href="{% url  'usuarios:lista_usuarios'%}" class="btn btn-default">Cancelar</a>
                    </div>
                </form>
            </div>
            <!-- /.box -->

        </div>
    </div>



{% endblock %}
{% block js %}

{% endblock %}
    
