{% extends "base.html" %}
{% block titulo %}Contraseña cambiada exitosamente{% endblock %}
{% block titulo_pagina %} Confirmacion contraseña{% endblock %}
{% block miga_pan %}{% endblock %} 

{% block contenido_pagina %}

<div class="row">
        <div class="col-lg-6 ">
            <!-- Default box -->
      <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Contraseña cambiada exitosamente</h3>
            </div>
            <div class="box-body">
                <p> Su contraseña fue cambiada exitosamente puede regresar al inicio haciendo click <a href="{% url 'usuarios:dashboard' %}">aquí</a> </p>
            </div>

          </div>
      <!-- /.box -->
        </div>
	</div>

{% endblock %}

