{% extends "base.html" %}
{% load bootstrap3 %}
{% block titulo %}Cambio de contraseña {% endblock %}
{% block titulo_pagina %}Cambiar contraseña {% endblock %}

{% block regreso %}

      {% endblock regreso %}

{%if form.errors %}

{%endif%}

{% block contenido_pagina %}
{%if user.is_authenticated %}
<div class="row">
        <div class="col-lg-6 ">
            <!-- Default box -->
      <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Cambiar contraseña</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
              <div class="box-body">
                <div class="form-group">
                  {% bootstrap_form form %}
                </div>

              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Registrar</button>
                  <a href="{% url  'usuarios:dashboard'%}" class="btn btn-default">Cancelar</a>
              </div>
            </form>
          </div>
      <!-- /.box -->

        </div>
	</div>
{%else%}
        <h5>Debes iniciar sesion primero</h5>
{%endif%}
{% endblock %}



