{% extends 'base.html' %}

{% block contenido_pagina %}
  <p>
    Su contraseña ha sido asignada. Uste puede ingresar hachiendo click <a href="{% url 'usuarios:login' %}">aqui</a>.
  </p>
{% endblock %}