{% extends 'base.html' %}

{% block contenido_pagina %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
    </form>
  {% else %}
    <p>
      El enlace para restablecer la cpntraseña es invalido, posiblemente ya lo ha usado.
      Por favor solicite un nuevo reinicio de contraseña.
    </p>
  {% endif %}
{% endblock %}