{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}
{% block css %}
{% endblock %}
{% block titulo_pagina %}
    {{ titulo }}
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li class="breadcrumb-item active">Inicio</li>
{% endblock miga_pan %}
{% block regreso %}
    <li><a class="btn btn-sm btn-primary" href="{% url 'usuarios:dashboard' %}">Regresar</a></li>
{% endblock regreso %}

{% block contenido_pagina %}

    <div class="row">
        <div class="col-lg-4 ">
            <!-- Default box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalles del recurso</h3>
                </div>
                <div class="box-body">
                    <h4>Código-Nombre:<small>{{ recurso }}</small></h4>
                    <h4>Descripción:<small>{{ recurso.descripcion }}</small></h4>
                    <h4>Marca:<small>{{ recurso.marca }}</small></h4>
                    <h4>Categoría:<small>{{ recurso.categoria }}</small></h4>
                </div>


            </div>
            <!-- /.box -->

        </div>
        <div class="col-lg-8 ">
            <!-- Default box -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Historial de asignaciones</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped dataTable">
                        <thead>
                        <tr>
                            <th>Responsable</th>
                            <th>Fecha</th>
                            <th>Estado</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for asignacion in recurso.asignaciones.all %}
                            <tr>
                                <td>{{ asignacion.persona }}</td>
                                <td>{{ asignacion.fecha }}</td>
                                <td>
                                    {% if asignacion.esta_asignado %}
                                        <span class="label label-success">Asignado</span>
                                    {% else %}
                                        <span class="label label-warning">No asignado</span>
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
    </div>



{% endblock %}
{% block js %}

{% endblock %}
    
