{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}
{% block css %}
{% endblock %}
{% block titulo_pagina %}
    {{ titulo }}
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li class="breadcrumb-item active">Inicio</li>
{% endblock miga_pan %}
{% block regreso %}
    <li><a class="btn btn-sm btn-primary" href="{% url 'usuarios:dashboard' %}">Regresar</a></li>
{% endblock regreso %}

{% block contenido_pagina %}

    <div class="row">
        <div class="col-lg-6 ">
            <!-- Default box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ titulo }}</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            {% bootstrap_form form %}
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                        <a href="{% url  'recursos:registrar_recurso'%}" class="btn btn-default">Cancelar</a>
                    </div>
                </form>
            </div>
            <!-- /.box -->

        </div>

    </div>



{% endblock %}
{% block js %}
    <script type="text/javascript">
        // Funcion que filtra las opciones  del selecttor de escuelas
        $(document).ready(function() {
            $("#id_responsable").on("change", getRecursos);
        });

        function getRecursos() {
            var responsable = $("#id_responsable").val();

            if (responsable) {
                // Eliminamos las opciones anteriores del select

                $("#id_recurso").html("");
                var request = $.ajax({
                    type: "GET",
                    url: "{% url 'recursos:obtener_recursos' %}",
                    data: {
                        "responsable": responsable,
                    },
                });
                request.done(function(response) {
                    // Agregamos los resultados al select

                    $("#id_recurso").html(response.recursos);
                    $("#id_recurso").trigger("change");
                });
            } else {
                $("#id_recurso").html("<option value='' selected='selected'>---------</option>");
                $("#id_recurso").trigger("change");
            }
        }
    </script>
{% endblock %}
    
